$dark: #3c4858;
$hn-blue: #1e75fe;

*{
    outline: none;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    width: 400px;
    height: 500px;
}

body::-webkit-scrollbar {
    width: .4em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark;
}

#app{
    max-width: 500px;
    margin: 0 auto;
}


// Spin kit loader

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}
  
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
  
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
  
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

button{
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    background: #f9f9f9;
    color: $dark;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px .1px rgba(99,99,99,.1);
            box-shadow: 0 3px 10px .1px rgba(99,99,99,.1);
    margin-bottom: 20px;
    
    .logo{
        img{
            width: 36px;
            margin-top: 3px;
        }
    }

    .nav{
        width: calc(100% - 32px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        button{
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            background: #fff;

            &.active{
                // border: 1px solid $hn-blue;
                position: relative;
                &::before{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 50px;
                    height: 3px;
                    border-radius: 5px;
                    background: rgba(0,0,0,.1);
                    content: '';
                }
            }
            
        }
    }
    
}

.content{
    margin-top: 80px;
    padding: 0 15px;
}

.post{
    -webkit-box-shadow: 0 0px 5px .1px rgba(99,99,99,.2);
            box-shadow: 0 0px 5px .1px rgba(99,99,99,.2);
    margin-bottom: 20px;
    padding: 15px;

    .post-cover{
        border-bottom: 1px solid rgba(99, 99, 99, .1);
    }

    .post-details{
        padding: 0 10px 0 10px;
    }

    .post-title{
        font-weight: bold;
        margin: 10px 0;
        color: $dark;
        text-align: center;
        line-height: 25px;
    }
    
    .post-desc{
        font-size: 14px;
        line-height: 18px;
        color: #444;
    }

    .author{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
        color: $dark;

        img{
            max-width: 25px;
            border-radius: 100px;
            margin-right: 10px;
        }
        
    }

}

.post-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid rgba(99, 99, 99, .1);

    .post-activity{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        span{
            font-weight: bold;
            font-size: 13px;
            margin: 0 5px;
            
            img{
                width: 15px;
                margin: 0 5px;
            }

        }
        
    }
    
}