/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * abril-display:
 *   - http://typekit.com/eulas/0000000000000000000119a6
 *   - http://typekit.com/eulas/0000000000000000000119ab
 *   - http://typekit.com/eulas/0000000000000000000119ac
 *   - http://typekit.com/eulas/0000000000000000000119ad
 *   - http://typekit.com/eulas/0000000000000000000119b0
 *   - http://typekit.com/eulas/0000000000000000000119b1
 * abril-text:
 *   - http://typekit.com/eulas/0000000000000000000119bd
 *   - http://typekit.com/eulas/0000000000000000000119be
 *   - http://typekit.com/eulas/000000000000000000013302
 *   - http://typekit.com/eulas/0000000000000000000119c0
 * benton-sans:
 *   - http://typekit.com/eulas/00000000000000003b9b2cf1
 *   - http://typekit.com/eulas/00000000000000003b9b2cf4
 *   - http://typekit.com/eulas/00000000000000003b9b2cf3
 *   - http://typekit.com/eulas/00000000000000003b9b2cf6
 *   - http://typekit.com/eulas/00000000000000003b9b2cf5
 *   - http://typekit.com/eulas/00000000000000003b9b2cf8
 *   - http://typekit.com/eulas/00000000000000003b9b2cf7
 *   - http://typekit.com/eulas/00000000000000003b9b2cf9
 *   - http://typekit.com/eulas/00000000000000003b9b2cfa
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-12-02 16:21:31 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=cgr4tih&ht=tk&f=14044.14045.14046.14047.14048.14053.14054.14055.14058.14059.30808.30810.30811.30812.30813.30814.30815.30816.30817&a=2966505&app=typekit&e=css");

@font-face {
font-family:"abril-text"; font-display: swap;
src:url("https://use.typekit.net/af/c70000/0000000000000000000119bd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c70000/0000000000000000000119bd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c70000/0000000000000000000119bd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"abril-text"; font-display: swap;
src:url("https://use.typekit.net/af/8c6b3b/0000000000000000000119be/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/8c6b3b/0000000000000000000119be/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/8c6b3b/0000000000000000000119be/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"abril-text"; font-display: swap;
src:url("https://use.typekit.net/af/94136d/000000000000000000013302/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/94136d/000000000000000000013302/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/94136d/000000000000000000013302/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"abril-text"; font-display: swap;
src:url("https://use.typekit.net/af/8fc4c7/0000000000000000000119c0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/8fc4c7/0000000000000000000119c0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/8fc4c7/0000000000000000000119c0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"abril-display"; font-display: swap;
src:url("https://use.typekit.net/af/6482d7/0000000000000000000119a6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6482d7/0000000000000000000119a6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6482d7/0000000000000000000119a6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"abril-display"; font-display: swap;
src:url("https://use.typekit.net/af/f8a954/0000000000000000000119ab/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/f8a954/0000000000000000000119ab/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/f8a954/0000000000000000000119ab/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"abril-display"; font-display: swap;
src:url("https://use.typekit.net/af/1ed5c1/0000000000000000000119ac/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1ed5c1/0000000000000000000119ac/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1ed5c1/0000000000000000000119ac/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"abril-display"; font-display: swap;
src:url("https://use.typekit.net/af/04efb2/0000000000000000000119ad/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/04efb2/0000000000000000000119ad/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/04efb2/0000000000000000000119ad/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"abril-display"; font-display: swap;
src:url("https://use.typekit.net/af/3329a4/0000000000000000000119b0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/3329a4/0000000000000000000119b0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/3329a4/0000000000000000000119b0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-style:normal;font-weight:800;
}

@font-face {
font-family:"abril-display"; font-display: swap;
src:url("https://use.typekit.net/af/a56f03/0000000000000000000119b1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/a56f03/0000000000000000000119b1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/a56f03/0000000000000000000119b1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-style:italic;font-weight:800;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/21f23e/00000000000000003b9b2cf1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/21f23e/00000000000000003b9b2cf1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/21f23e/00000000000000003b9b2cf1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/b7cb43/00000000000000003b9b2cf3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/b7cb43/00000000000000003b9b2cf3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/b7cb43/00000000000000003b9b2cf3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/8548ea/00000000000000003b9b2cf6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/8548ea/00000000000000003b9b2cf6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/8548ea/00000000000000003b9b2cf6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-style:italic;font-weight:500;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/738ece/00000000000000003b9b2cf5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/738ece/00000000000000003b9b2cf5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/738ece/00000000000000003b9b2cf5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/bb6c4e/00000000000000003b9b2cf8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/bb6c4e/00000000000000003b9b2cf8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/bb6c4e/00000000000000003b9b2cf8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/999bc0/00000000000000003b9b2cf7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/999bc0/00000000000000003b9b2cf7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/999bc0/00000000000000003b9b2cf7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-style:italic;font-weight:600;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/343e47/00000000000000003b9b2cf9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/343e47/00000000000000003b9b2cf9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/343e47/00000000000000003b9b2cf9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"benton-sans"; font-display: swap;
src:url("https://use.typekit.net/af/2de11d/00000000000000003b9b2cfa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2de11d/00000000000000003b9b2cfa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2de11d/00000000000000003b9b2cfa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

.tk-abril-text { font-family: "abril-text",serif; }
.tk-abril-display { font-family: "abril-display",serif; }
.tk-benton-sans { font-family: "benton-sans",sans-serif; }

$dark: #3c4858;
$hn-blue: #1e75fe;

*{
    outline: none;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: benton-sans, sans-serif;
    width: 400px;
    height: 500px;
    background: #f5f5f5;
}

body::-webkit-scrollbar {
    width: .4em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark;
}

#app{
    max-width: 500px;
    margin: 0 auto;
}

.loading-wrapper{
    .loading-card{
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        background: #FFF;
        min-height: 200px;
        -webkit-box-shadow: 0 0px 5px .1px rgba(99,99,99,.2);
        box-shadow: 0 0px 5px .1px rgba(99,99,99,.2);
        
        .rect{
            height: 70px;
            background: #eee;
            width: 60%;
            margin-bottom: 4px;
            border-radius: 6px;
            &:nth-child(2){
                width: 80%;
            }
            &.big{
                height: 30px;
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}


// // Spin kit loader

// .spinner {
//     width: 40px;
//     height: 40px;
//     position: relative;
//     margin: 100px auto;
// }
  
// .double-bounce1, .double-bounce2 {
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     background-color: #333;
//     opacity: 0.6;
//     position: absolute;
//     top: 0;
//     left: 0;
//     -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
//     animation: sk-bounce 2.0s infinite ease-in-out;
// }
  
// .double-bounce2 {
//     -webkit-animation-delay: -1.0s;
//     animation-delay: -1.0s;
// }
  
// @-webkit-keyframes sk-bounce {
//     0%, 100% { -webkit-transform: scale(0.0) }
//     50% { -webkit-transform: scale(1.0) }
// }
  
// @keyframes sk-bounce {
//     0%, 100% { 
//       transform: scale(0.0);
//       -webkit-transform: scale(0.0);
//     } 50% { 
//       transform: scale(1.0);
//       -webkit-transform: scale(1.0);
//     }
// }

button{
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    background: #f9f9f9;
    color: $dark;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px .1px rgba(99,99,99,.1);
            box-shadow: 0 3px 10px .1px rgba(99,99,99,.1);
    margin-bottom: 20px;
    
    .logo{
        img{
            width: 36px;
            margin-top: 3px;
        }
    }

    .nav{
        width: calc(100% - 32px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        button{
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            background: #fff;
            font-size: 13px;

            &.active{
                // border: 1px solid $hn-blue;
                position: relative;
                &::before{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 50px;
                    height: 3px;
                    border-radius: 5px;
                    background: rgba(0,0,0,.1);
                    content: '';
                }
            }
            
        }
    }
    
}

.content{
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0 15px;
}

.post{
    -webkit-box-shadow: 0 0px 5px .1px rgba(99,99,99,.2);
            box-shadow: 0 0px 5px .1px rgba(99,99,99,.2);
    margin-bottom: 20px;
    padding: 15px;
    background: #FFF;
    overflow: hidden;
    border-radius: 8px;

    .post-cover{
        border-bottom: 1px solid rgba(99, 99, 99, .1);
    }

    .post-details{
        padding: 0 10px 0 10px;
    }

    .post-title{
        font-weight: bold;
        margin: 10px 0;
        color: $dark;
        line-height: normal;
        font-size: 22px;
    }
    
    .post-desc{
        font-size: 18px;
        line-height: normal;
        color: #212121;
        font-family: abril-text, serif;
    }

    .author{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
        color: $dark;

        img{
            max-width: 25px;
            border-radius: 100px;
            margin-right: 10px;
        }
        
    }

}

.post-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid rgba(99, 99, 99, .1);

    .post-activity{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        a{
            font-weight: bold;
            font-size: 13px;
            margin: 0 5px;
            
            img{
                width: 15px;
                margin: 0 5px;
            }

        }
        
    }
    
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 8px 10px;
    font-size: 14px;
    border-top: 1px solid #eee;
    color: #757575;
    font-size: 13px;
    font-weight: 500;

    a{
        font-size: 13px;
        font-weight: 600;
        color: #656565;
    }
}